<!DOCTYPE html>
<html>
<head>
  <title>Adtech</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=1.0'>
</head>
<body>
  <div class="dvxl lhxl bg-3 c-15 fsl">
    <div class="container phs">
      <table>
        <tr>
          <td class="c-green fsxxs">
            <%= link_to "300x250", "/ad300x250" %>
          </td>
          <td class="plm c-green fsxxs">
            <%= link_to "320x50", "/ad320x50" %>
          </td>
          <td class="plm c-green fsxxs">
            <%= link_to "300x600", "/ad300x600" %>
          </td>
          <td class="plm c-green fsxxs">
            <%= link_to "728x90", "/ad728x90" %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <%= yield %>
</body>
</html>
